{% extends 'home.html.twig' %}
    {% block loginregistro %}
            <div class="login">
                <div class="titulo">
                    Inicia sesión y descubre un mundo de posibilidades...
                </div>
{% block login %}{% endblock %}
{% block registro %}{% endblock %}
            </div>
    {% endblock %}