<!DOCTYPE html>
<html lang="es">
    <head>
        <title></title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <meta charset="UTF-8">
        <!--MOBILE FIRST-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="../View/css/reset.css" rel="stylesheet">
        <link href="../View/css/normalize.css" rel="stylesheet">

        <link href="../View/css/style.css" rel="stylesheet">
        <script src="../View/js/scripts.js"></script>
    </head>
    <body>
    
            <h1>HE LOGUEADO!</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>
        <footer>
            enlaces footer y derechos reservados
        </footer>
    </div>
    </body>
</html>